@import "partials/_base.scss";

@each $current-color in $jumbo-colors {
  $i: index($jumbo-colors, $current-color);
  .jumbotron-#{$i} {
    background-color: nth($jumbo-colors, $i);
  }
}

.jumbotron {
  text-align: center;
  color: $default-white;
  letter-spacing: 2px;
  padding: 6em;
}

.container-fluid {

  .first-graph-div {
    max-width: 900px;
    overflow: scroll;
    min-height: 700px;
  }

  #gintama-div {
    min-height: 600px;
    font-size: 20px;
    font-weight: bold;

    strong {
      font-size: 25px;
    }

    .poop {
      font-size: 30px;
    }

    h3 {
      text-align: center;
    }

  }


}
