@import "partials/_base.scss";

@each $current-color in $jumbo-colors {
  $i: index($jumbo-colors, $current-color);
  .jumbotron-#{$i} {
    background-color: nth($jumbo-colors, $i);
  }
}

.jumbotron {
  text-align: center;
  color: $default-white;
  letter-spacing: 2px;
  padding: $jumbo-padding;
}

.container-fluid {

  .first-graph-div {
    max-width: 900px;
    overflow: scroll;
    min-height: 725px;
  }

  #gintama-div {
    font-size: 20px;
    font-weight: 400;

    #gintama-list-div {
      overflow-y: scroll;
      background: $gintama-bg;
      min-height: 600px;
      max-height: 600px;
      border-radius: 4px;
    }

    #count-input {
      border: none;
      border-bottom: 2px solid $count-input-color;
      background: $gintama-bg;
      width: 50px;
      text-align: center;
    }

    strong {
      font-size: 25px;
      font-weight: 800;
    }

    .poop {
      font-size: 30px;
    }

    h3 {
      text-align: center;
    }

  }


}
