.jumbotron-1 {
  background-color: #81D2C7; }

.jumbotron-2 {
  background-color: #90C2E7; }

.jumbotron-3 {
  background-color: #B79CED; }

.jumbotron {
  text-align: center;
  color: #FCF7FF;
  letter-spacing: 2px;
  padding: 8em; }

.container-fluid .first-graph-div {
  max-width: 900px;
  overflow: scroll;
  min-height: 725px; }

.container-fluid #gintama-div {
  font-size: 20px;
  font-weight: 400;
  min-height: 750px; }
  .container-fluid #gintama-div #gintama-list-div {
    overflow-y: scroll;
    background: #F5F5F5;
    min-height: 600px;
    max-height: 600px;
    border-radius: 4px; }
    .container-fluid #gintama-div #gintama-list-div ol {
      color: #3C3C3C; }
  .container-fluid #gintama-div #count-input {
    border: none;
    border-bottom: 2px solid #72A1E5;
    background: #F5F5F5;
    width: 50px;
    text-align: center; }
  .container-fluid #gintama-div strong {
    font-size: 25px;
    font-weight: 800; }
  .container-fluid #gintama-div .poop {
    font-size: 30px; }
  .container-fluid #gintama-div h3 {
    text-align: center; }
