<!DOCTYPE html>
<html>
<head>
	<title>Datavizbiz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-1">
	<div class="container">
		<h1 id="anime-title">Anime</h1>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
			<div class="col-lg-offset-2 col-xs-12 first-graph-div">
				<div id="display">
				</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-2">
	<div class="container">
		<h1 id="gintama-title">Gintama</h1>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-offset-2 col-md-8" id="gintama-div">
			<h3 id="gintama-list-title">
				Top <input type="text" v-model="count" id="count-input" maxlength="3"> Longest Gintama Episode Titles
			</h3>
			<ol id="long-ep-list">
				<li v-for="title in setCount(titles, count)" track-by="$index">
					<span class="poop">💩</span> <strong>{{title.length}}</strong> {{ title.text }}
				</li>
			</ol>
		</div>
	</div>
</div>

<script src="js/anime-chart.js"></script>
<script src="js/vue.js"></script>
<script src="js/gintama.js"></script>
</body>
</html>
